*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

main{}

#app{
    height: 100vh;
    width: 100%;
    background: #202124;
}

/* sidebar */

.sidebar{
    display: flex;
    align-content: space-around;
    background-color: rgb(85, 83, 83);
    width: 100%;
    height: 80px;
}

.username{
    display: flex;
    align-items: center;
    width: 440px;
    height: 100%;
    color: whitesmoke;
    transition: .5s; 
}

.username img {
    width: 40px;
    margin: 20px;
    border-radius: 100%;
}

.username:hover{
    box-shadow: 0 0 21px rgba(5, 5, 5, 0.281);
    transition: .5s; 
    cursor: pointer;
    font-weight: bold;
}

.username .fas{
    display: flex;
    float: right;
    padding: 50px;
}

.chatUsername{
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.chatUsername img{
    width: 50px;
    border-radius: 100%;
    margin: 30px;
    transition: .2s;
}

.chatUsername img:hover{
    box-shadow: 0 0 21px rgba(5, 5, 5, 0.281);
    cursor: pointer;
    transition: .2s;
}














/* main chat */

.mainchat{
    display: flex;
}

.msgarea{
    width: 100%;
    height: 100%;
}

.list-container{
    width: 1200px;
    margin: auto;
    background: #313235;
    
}

li {
    color: whitesmoke;
    list-style: none;
    width: 400px;
    padding: 20px;
    transition: .5s;
    cursor: pointer;
}

li img {
    width: 50px;
    border-radius: 100%;
    margin: 10px;
}



li:hover{
    background: #464647;
    transition: .5s;
    width: 410px;
    font-weight: bold;
}

.name{
    margin: 10px;
}

.date{
    font-size: 12px;
    text-align: right;
}


.message-area{
    width: 100%;
    height: 700px;
    background: url("img/boolzap_dark.jpg");
    background-size: contain;
    color: whitesmoke;
}

div.message-area{
    overflow-y: auto;
}

div.message-area::-webkit-scrollbar{
    width: 5px;
}

div.message-area::-webkit-scrollbar-track{
    background: #141922;
}

div.message-area::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: 3px solid rgba(211, 211, 211, 0.651)
}

div.message-area::-webkit-scrollbar-thumb:hover{
    background: #555;
}





.input-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.input-area input{
    height: 50%;
    width: 80%;
}


.fas{
    margin: 30px;
    transition: .5s;
    box-shadow: 0 0 21px rgba(5, 5, 5, 0.281);
}

.fas:hover{
    box-shadow: 0 0 40px #056162;
    transition: .5s;
    cursor: pointer;
}

.message::after{
    content: '';
    display: table;
    clear: both;
}

.message.sent > .message-item{
    float: right;
    background: #056162;
    box-shadow: 0 0 21px rgb(0, 0, 0);
    margin: 20px;
    width: 300px;
    padding: 20px;
    border-radius: 20px 20px 3px;
}

.message.received > .message-item{
    float: left;
    background: #262D31;
    box-shadow: 0 0 21px rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 3px 20px 20px;
}

input {
    background-color: #1f1f20;
    color: whitesmoke;
    border: none;
    box-shadow: 0 0 21px rgba(5, 5, 5, 0.281);
    border-radius: 13px;
    transition: .5s;
    
  }


  input:hover{
    box-shadow: 0 0 40px #056162;
    transition: .5s;
  }

  
/* .message-received{
    width: 300px;
    background: #262D31;
    box-shadow: 0 0 21px rgb(0, 0, 0);
}


.message-sent{
    width: 300px;
    background: #056162;
    box-shadow: 0 0 21px rgb(0, 0, 0);
} */

/* input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background:#4c4e50;
    border-radius: 4px;
  } */