*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

main{}

#app{
    height: 100vh;
    width: 100%;
    background: #202124;
}

/* sidebar */

.sidebar{
    display: flex;
    align-content: space-around;
    background-color: rgb(85, 83, 83);
    width: 100%;
    height: 80px;
}

.username{
    display: flex;
    align-items: center;
    width: 440px;
    height: 100%;
    color: whitesmoke;
    transition: .5s; 
}

.username img {
    width: 40px;
    margin: 20px;
    border-radius: 100%;
}

.username:hover{
    box-shadow: 0 0 21px rgba(5, 5, 5, 0.281);
    transition: .5s; 
    cursor: pointer;
}

.username .fas{
    display: flex;
    float: right;
    padding: 50px;
}

.chatUsername{
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.chatUsername img{
    width: 50px;
    border-radius: 100%;
    margin: 30px;
    transition: .2s;
}

.chatUsername img:hover{
    box-shadow: 0 0 21px rgba(5, 5, 5, 0.281);
    cursor: pointer;
    transition: .2s;
}















/* main chat */

.mainchat{
    display: flex;
    align-content: space-around;

}

.list-container{
    width: 1200px;
    margin: auto;
    background: #313235;
    
}

li {
    color: whitesmoke;
    list-style: none;
    width: 400px;
    padding: 20px;
    transition: .5s;
    cursor: pointer;
}

li img {
    width: 50px;
    margin: 10px;
    border-radius: 100%;
}

li:hover{
    background: #464647;
    transition: .5s;
    width: 410px;
}


.chat{
    display: flex;
    align-items: flex-end;
    width: 100%;
    background: url("img/boolzap_dark.jpg");
    background-size: contain;
    color: whitesmoke;
}


.msgout{
    width: 300px;
    background: #262D31;
    box-shadow: 0 0 21px rgb(0, 0, 0);
    margin-bottom: 150px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 3px 30px 30px;
}

.msgin{
    width: 300px;
    background: #056162;
    box-shadow: 0 0 21px rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 30px 30px 3px;
}

.inputchat{
    position: absolute;
    background: #262D31;
}

input[type=text] {
    width: 100%;

    margin: 8px 0;
    box-sizing: border-box;
    background:#4c4e50;
    border-radius: 4px;
  }